<ion-header>
  <ion-toolbar>
    <ion-title>Authenticate</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="authForm">
    <ion-grid>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
            <ion-item>
              <ion-label position="floating">Email</ion-label>
              <ion-input formControlName="email" type="email"></ion-input>
            </ion-item>
            <ion-item *ngIf="!authForm.get('email').valid && authForm.get('email').touched" lines="none">
              <ion-label>Invalid email</ion-label>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Password</ion-label>
              <ion-input formControlName="password" type="password"></ion-input>
            </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-button fill="clear" expand="block" color="primary">SWITCH TO SIGNUP</ion-button>
          <ion-button [disabled]="!authForm.valid" expand="block" color="primary" (click) = "onSubmit()">Login</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>